{{define "header"}}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>
        all your uptime
      </title>
      <link rel=stylesheet href="/static/simple.min.css" />
    </head>
    <body>
      <header>
        <nav>
          <a href=/>Home</a>
          {{if .CurrentUserId}}
            <a href="/new-site">New site</a>
            <a href="/profile">Profile</a>
            <form action=/logout method=post>
              <input type=hidden name=_csrf value={{.CsrfToken}} />
              <button type=submit>
                Logout
              </button>
            </form>
          {{else}}
            <a href=/new-signup>Signup</a>
          {{end}}
        </nav>
      </header>
{{end}}

{{define "footer"}}
  </body>
</html>
{{end}}
