{{template "header" .}}

{{define "title"}}all your uptime{{end}}
{{define "h1"}}welcome to all your uptime!{{end}}
{{define "subtitle"}}
  The simple way to monitor your websites and get alerts when you have downtime.
{{end}}

{{if .Home.Passcode}}
  <p>
    This is your secret passcode, keep it secret, don't forget it, it's how you log back into this website.
  </p>

  <p>
    If you think you'll forget it, <a href="/profile">click here to add an optional email to your profile</a> and I'll send
    you a new one if you do forget
  </p>

  <h3>
    Your passcode is:
    <br/>
    {{.Home.Passcode}}
  </h3>
{{end}}

{{if .Sites}}
  <h3>Your Sites</h3>
  <ul>
    {{range .Sites}}
      <li>
        {{if .Name.Valid}}{{.Name.String}} -- {{end}}{{.Url}}
      </li>
    {{end}}
  </ul>
{{end}}

{{template "footer"}}
