{{template "header" .}}

<h1>Welcome to all your uptime!</h1>

<p>
  The simple way to monitor your websites and get alerts when you have downtime.
</p>

{{if .Home.Passcode}}
  <p>
    This is your secret passcode, keep it secret, don't forget it, it's how you log back into this website.
    <br/>
    <br/>

    If you think you'll forget it, <a href="/profile">click here to add an optional email to your profile</a> and I'll send
    you a new one if you do forget
    <br/>
    <br/>

    Don't share it with anyone either, this passcode is the secret key to get back into this website
  </p>

  <h3>
    Your passcode is:
    <br/>
    {{.Home.Passcode}}
  </h3>
{{end}}

<h3>Your Sites</h3>
<ul>
  {{range .Sites}}
    <li>
      {{if .Name.Valid}}{{.Name.String}} -- {{end}}{{.Url}}
    </li>
  {{end}}
</ul>

{{template "footer"}}
