{{template "header" .}}

<h1>Add a new site</h1>

<form action=/create-site method=post>
  <input type=hidden name=_csrf value={{.CsrfToken}} />
  <div>
    <label for=url>url</label>
    <input type=text name=url value="{{.NewSite.Url}}" />
  </div>
  <div>
    <label for=name>name</label>
    <input type=text name=name value="{{.NewSite.Name}}" />
  </div>
  <button type=submit>
    Add your site
  </button>
</form>

{{template "footer"}}
