{{template "header" .}}

<h1>Welcome to all your uptime!</h1>

<p>
  The simple way to monitor your websites and get alerts when you have downtime.
</p>

<form action=/signup method=post>
  <input type=hidden name=_csrf value={{.CsrfToken}} />
  <button type=submit>
    Click here to start monitoring your uptime today!
  </button>
</form>

{{template "footer"}}
