{{define "body"}}
  <div class="mt-8 mx-auto max-w-2xs px-4">

    <aside class="text-center max-w-sm mx-auto">
      Your passcode is:
      <br/>
      <b>{{.Profile.Passcode}}</b>
    </aside>

    <form action=/update-profile method=post class="mt-8">
      <input type=hidden name=_csrf value={{.CsrfToken}} />
      <input type=text name=email value="{{.Profile.Email}}" placeholder="you@example.com" />
      <button type=submit>
        Add an email to your profile
      </button>
    </form>

    <hr />

    <form action=/delete-account method=post class="mt-8">
      <input type=hidden name=_csrf value={{.CsrfToken}} />
      <input type="submit" value="Delete your account" class="text-center text-error" />
    </form>
  </div>
{{end}}
