html, body {
  font-family: var(--font-sans);
  font-size: var(--scale-0);
}

body {
  margin: 0 auto;
}

button[type="submit"], button {
  background-color: var(--color-indigo-500);
  color: var(--color-gray-100);
  padding: var(--size-3) var(--size-7);
  border: none;
  border-radius: var(--radius-md);
  font-size: var(--scale-0);
  cursor: pointer;
  box-shadow: var(--elevation-3);
  text-align: center;
  display: block;
  width: 100%;
}

button[type="submit"]:hover, button:hover {
  background-color: var(--color-indigo-700);
}

header {
  background-color: var(--color-gray-50);
  padding: var(--size-4);
}

header > nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size-4);
}

main {
  max-width: var(--width-md);
  margin: 0 auto;
}

h1 {
  font-size: var(--scale-10);
}

h2 {
  font-size: var(--scale-8);
}

h3 {
  font-size: var(--scale-6);
}

h4 {
  font-size: var(--scale-4);
}

p {
  line-height: var(--line-md);
}

input[type="submit"] {
  cursor: pointer;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder {
  color: var(--color-gray-300);
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: var(--size-2);
  font-size: var(--scale-0);
  border-radius: var(--radius-md);
  display: block;
  width: 100%;
  border-color: transparent;
  box-shadow: 0 0 0 1px var(--color-gray-300);
  transition: box-shadow 0.3s ease-in-out
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:focus,
input[type="password"]:active,
input[type="email"]:focus,
input[type="email"]:active {
  box-shadow: 0 0 0 2px var(--color-indigo-500)
}


form {
  display: grid;
  gap: var(--size-2);
}

a, input[type="submit"] {
  color: var(--color-indigo-500);
}

a:hover, a:focus {
  color: var(--color-indigo-700);
}

a:visited {
  color: var(--color-indigo-500);
}

aside {
  background-color: var(--color-gray-100);
  padding: var(--size-4);
  border-radius: var(--radius-lg);
  box-shadow: var(--elevation-1);
}

b {
  font-weight: var(--weight-bold);
}

table th {
  text-align: left;
}

@media(prefers-color-scheme: dark) {
  html, body {
    background-color: var(--color-gray-900);
    color: var(--color-gray-100);
  }

  header {
    background-color: var(--color-gray-800);
  }

  aside {
    background-color: var(--color-gray-700);
    color: #fff;
  }
}
