/* Global variables. */
:root {
  --sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  --bg-color: 255, 255, 255;
  --accent-bg-color: 245, 247, 255;
  --text-color: 33, 33, 33;
  --text-light-color: 88, 88, 88;
  --border-color: 216, 218, 225;
  --accent-color: 13, 71, 161;
  --code-color: 216, 27, 96;
  --preformatted-color: 68, 68, 68;
  --marked-color: 255, 221, 51;
  --disabled-color: 239, 239, 239;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-11: 2.75rem;
  --size-12: 3rem;
  --size-13: 3.25rem;
  --size-14: 3.5rem;
  --size-15: 3.75rem;
  --size-16: 4rem;

  --rounded-sm: 0.125rem;
  --rounded: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --rounded-2xl: 1rem;
  --rounded-3xl: 1.5rem;
  --rounded-full: 9999px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: 33, 33, 33;
    --accent-bg-color: 43, 43, 43;
    --text-color: 220, 220, 220;
    --text-light-color: 171, 171, 171;
    --border-color: 216, 218, 225;
    --accent-color: 255, 179, 0;
    --code-color: 240, 98, 146;
    --disabled-color: 17, 17, 17;
  }
}

html {
  font-family: var(--sans-font);
}

body {
  color: rgb(var(--text-color));
  background: rgb(var(--bg-color));
  font-size: 1.15rem;
  line-height: 1.5;
  max-width: 48rem;
  margin: 0 auto;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

button {
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
  padding: var(--size-3) var(--size-6);
  background-color: rgb(var(--accent-color));
  border: none;
  box-shadow: none;
  border-radius: var(--rounded-lg);
  color: rgb(var(--bg-color));
  cursor: pointer;
}

button:hover {
  filter: brightness(1.4);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
}

h-stack {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

